<% if owner_signed_in? %>
  <ul id="slide-out" class="sidenav">
    <li><%= link_to 'アカウントの編集', edit_owner_registration_path %></li>
    <li><div class="divider"></div></li>
    <li><%= link_to 'ログアウト', destroy_owner_session_path, method: :delete %></li>
    <li><div class="divider"></div></li>
    <li><%= link_to "アカウント削除", registration_path(current_owner), data: { confirm: "Are you sure?" }, method: :delete, class: "red-text text-darken-2" %></li>
  </ul>
<% end %>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

<script>
  $('.sidenav').sidenav();
</script>