body{
  background-color: #EEEEEE;
}

.container{
  .main{
    background-color: white;
    padding: 2% 2%;
    @media(min-width: 1440px) {
      position: absolute;
      top: 10%;
      left: 5%;
      width: 59%;
    }
  }
}

.material-icons.large-size {
  font-size: 30px;
}


.search-books{
  padding: 5% 5%;
  position: absolute;
  top: 0%;
  left: 101%;
  width: 59%;
  background-color: white;
}

.support_page{
  background-color: white;
  padding: 4% 4%;
}

#to_white{
  background-color: white;
  padding: 5% 5%;
}
nav{
  z-index: 9999;
  position: fixed;
}

.position{
  position: fixed;
  top: 10%;
}
